.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    .table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 1000px;
        height: 400px;
        background: #f9f9f9;
        padding: 20px;
        .input {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-end;
        }
    }

}