.container {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .actionFooter {
        display: flex;
        justify-content: space-between;
    }    
}
