.wrapperContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    &.loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        flex-shrink: 0;
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: row;

        .leftMenu {
            flex-shrink: 0;
            width: 256px;
            min-width: 0;
        }

        .rightContent {
            flex: 1;
            flex-shrink: 1;
            padding: 20px;
            background: #EFF1F4;
            display: flex;

            & > * {
                flex: 1 !important;
            }
        }
    }
}