.container {
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
    padding: 20px;
    border-radius: 10px;

    .contentForm {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        h1 {
            color: gray;
        }
    }

}

.btnAction {
    display: flex;
    align-items: center;
    gap: 10px;
}