
.container {
    width: 100vw;
    height: 95vh;

    .title {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .leftContent {
            h1 {
                color: rgb(2 90 246);
                font-size: 60px;
            }

            .btnAuth {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 15px;
            }
        }
    }
}
