
.skeleton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container {
    h1 {
        color:#1677ff;
    }

    .FormAddNew {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}
