.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #1677ff;

    .formContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        width: 400px;
        height: 500px;
        
        p {
            text-align: center;
            color: gray;
            font-size: 14px;
        }
        .btnAction {
            display: flex;
            gap: 10px;
        }

        .footer {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                font-weight: bold;
                font-size: 15px;
                height: 40px;
            }

            .backLogin {
                margin: 0 auto;
            }
        }

        .content {
            display: flex;
            justify-content: space-between;
        }
    }

}