.container {
    .iconProfile {
        background-color: #1677ff;
        border: 1px solid white;
        border-radius: 50px;
        padding: 7px;
        font-size: 18px;
        color: white;
    }
}
