.container {
    display: flex;
    gap: 30px;

    .notitfication {
        color: gray;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: box-shadow 0.1s; 
        cursor: pointer;

        .avatar {
            border: 1px solid #c5bcbc;
            border-radius: 50%;
        }
    }

    .content:hover {
        box-shadow: 0px 2px 0px 0px #1677ff;
    }
}
