.wrapperContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    &.loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.logo {
    height: 62px;
    display: flex;
    align-items: center;
    background-color: #1677ff;
    position: relative;
    justify-content: flex-end;
    padding: 22px;

    .imglogo {
        position: absolute;
        left: 15px;
    }

    span {
        font-weight: bold;
        font-size: 17px;
        color: white;
    }
}
.logoCollapsed {
    justify-content: center;
}